<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body>

<canvas id="myChart" style="width:500%;max-width:2000px"></canvas>

<script>
var xValues = JSON.parse('{{ key_choices | tojson | safe }}'); 
var yValues = JSON.parse('{{nofchoices | tojson }}'); 
var barColors = ["cyan", "cyan"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Vote"
    }
  }
});
</script>

</body>
</html>


