<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <title>CreatePoll</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='create1.css') }}">
    </head>
    <body>     
        <form method="POST" action="/create"> 
            <h1>CREATE POLL</h1>
            <input id="one" type="text" placeholder="Create Question" name="ques"> 
            <ul id="options">    
            </ul> 
            <input id="time" type="text" placeholder="Time in Seconds">
            <button type="button" onclick="addOption()">+</button>
            <button type="submit">Create Poll</button>
        </form>
        <script> 
            function addOption() { 
                const ul = document.getElementById('options'); 
                const li = document.createElement('li');
                li.innerHTML = ' <input type="text" name="option"> <button type="button" onclick="removeOption(this)">x</button> '; 
                ul.appendChild(li)
            }

            function removeOption(button) {  
                const li = button.parentElement;
                li.remove(); 
            }
        </script>
    </body>
</html>








